
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: myURWDINArabic;
  src: url(/FontsFree-Net-URW-DIN-Arabic-1.ttf);
}

/*  här lägger vi de färger som ska användas  #3096FE */
:root{
  --primaryColor:#1487FD;
  --primaryColorDarker:#007efb;

  --mellowYellow: #FFBB00;
  --mediumGrey: #8A8A8A;
  --almostBlack: #333333;
  --mixedBlue: #1487FD - #42A0FF;

  --inputField: #FBFBFB;

  --lightPink: #FDF3D7;

  --black:#000;
  --black-faded:#1b1b1b;
  --darkGrey: #333;
  /* --lightGray: #cfcfcf; */
  --lightGray: #F5F5F5;
  --white: #fff;
  --boneWhite:rgb(250, 249, 248);
  --logoBgColor:#d31919;
  --boxShadowPrimaryD: rgba(137, 48, 255, .5);
  --boxShadowGrey: rgba(68, 68,68, .5);
}

/* reset av margin och padding, val av box-sizing */
/* *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

.font-roboto{
  font-family:'Roboto', sans-serif !important;
  font-size: 16px !important;
}

body {
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    /* background: var(--boneWhite); */
    background: var(--white);
    /* color: var(--black-faded); */
}

.logo-img{
  width: 120px;
  height: 57px;
}


.active{
  color: var(--mellowYellow) !important;
  /* border-bottom: 1px solid var(--mellowYellow) !important; */
  
}

.active:after{
  content: ""; 
    display: block; 
    /* margin: 0 auto; */
    width: 20%; 
    padding-top: 2px; 
    border-bottom: 2px solid var(--mellowYellow) !important;
}



.text-mediumGrey{
  color: var(--mediumGrey);
  /* font-size: 16px; */
  font-weight: normal;
}

.my-button1{
  background-color: var(--lightPink);
  color: var(--mellowYellow);
}

.btn{
  padding: 0.7em 2em !important;
  border-radius: 12px !important;
}

.my-button2{
  width: 232px;
  height: 80px;

}

.color-mellowYellow{
  color: var(--mellowYellow);
}

.bg-color-lightPink{
  background-color: var(--lightPink);
}


/* #myheader { */
  /* border: 1px dotted black; */
  /* background: url('/images/Rectangle1914.png') no-repeat center center/cover; */
  /* background: url('/images/header-bg.png') no-repeat  ; */
  /* background-attachment: fixed; */
  /* background-size: cover; */
  /* background-position: 55% 95%; */

/* } */

.myheader-bg{
  background: url('/images/header-bg.png') no-repeat  ;
  /* background-position: 35% 95%; */
  /* background-size: cover; */
  width: 100%;
  /* height: 100vh; */
  /* background-position:-200px -900px; */
  background-position:35% 95%;
  
}

#myheader .header-nav-link{
  font-size: 18px;
  font-weight: 600;
}

.about-us-bg{
  
  background: url('/images/bg.png') no-repeat center;
  width: 100%;
  height: 100%;
  /* background-position: -0px ; */
  margin: 0px 5px 0px 5px;
}

#Features{
  background: var(--lightGray);
}

.bg-Application-Statistics{
  background: url('/images/bg-statistics.png') no-repeat center ;
}

.header-Statistics-text{
  color: var(--primaryColor);
  font-size: x-large;
  font-family: myURWDINArabic;
}

#Download-application{
  content: '';
  position: relative;
  background: url('/images/Bg-dowload-now.png') no-repeat center ;
}

.iphonex3mod{
  position: absolute;
  top: -160px;
  /* left: 60%; */
/* z-index: 1; */
margin-top: 80px;
}

.input-field-bg{
  background-color: var(--inputField) !important;
}

.input-field-message{
  width: 100%;
  height: 150px;
}

.contact-form-btn-submit{
  background-color: #3096FE;
}

#Footer-main{
  /* no-repeat */
  background: url('/images/footer-bg.png') no-repeat center/cover ;
  width: 100%;
  height: 150%;
}

#Footer-main .footer-nav-link{
  font-size: 18px;
  font-weight: 600;
}

/* media query */

@media screen and (min-width: 992px) {
  .active:after{
    content: ""; 
      display: block; 
      /* margin: 0 auto; */
      width: 60%; 
      padding-top: 2px; 
      border-bottom: 2px solid var(--mellowYellow) !important;
  }
}

